<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-label><b>Menu</b></ion-label>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="title">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <div class="home">
          <h1 class="home"> Welcome to </h1>

          <center><img src="../../assets/lineadupLogo.png" width="400" height="100" /></center>

          <span class="line divider home one-line">Keep track of queues</span>

          <h3 style="text-align: center;">Find canteen, office-hours and secratiart near-by your department</h3>

          <span class="line divider home one-line">Lets start!</span>


          <center>
            <ion-button (click)="goToMap()" size="medium" class="green">Go To Map</ion-button>
          </center>


        </div>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>