<ion-header>
<ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
        <ion-title color="title" style="margin-top: 28px;">
            Report New Queue
          </ion-title>
        </ion-col>
        <ion-col>
          <center> <img src="../../assets/icon/linedup.png" /></center>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>




<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <div class="home">
          <h3 style="text-align: center;">The queue you were looking can't be found? We're sorry. <br/>But you can report a
            service of your interest, so we can add it to <b>LinedUp</b>.</h3>

          <center>
          <div style="margin-top:80px; width:90%">
            <span class="line divider home one-line">Find your service</span>

            <ion-button [routerLink]="['/insert/building']" color="signin" size="large">Search from Building List</ion-button>

            <span class="line divider home one-line">or</span>

            <ion-button [routerLink]="['/insert/map']" color="signin" size="large">Search from Map</ion-button>
          </div>
          </center>

        </div>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>