<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="title">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <div class="home">
          <h1 class="home"> Welcome to </h1>

          <center><img src="../../assets/lineadupLogo.png" /></center>

          <span class="line divider home one-line">Keep track of queues</span>

          <h3 style="text-align: center;">Find canteen, office-hours and secratiart near-by your department</h3>

          <span class="line divider home one-line">Lets start!</span>

          <ion-row>
            <ion-col>
              <center>
                <ion-button [routerLink]="['/register/university']" color="primary" size="medium">Sign Up</ion-button>
              </center>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <center>
                <ion-button (click)='googleSignUp()' color="light" size="medium">Sign Up with <ion-icon
                  src="../../assets/Google.svg" >
                  </ion-icon>
                </ion-button>
              </center>
            </ion-col>
          </ion-row>
          <span class="line divider home one-line">or already a user?</span>


          <ion-row>
            <ion-col>
              <center>
                <ion-button [routerLink]="['/login']" color="signin" size="medium">Sign In</ion-button>
              </center>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <center>
                <ion-button (click)='googleSignUp()' color="light" size="medium">Sign In with <ion-icon
                  src="../../assets/Google.svg">
                  </ion-icon>
                </ion-button>
              </center>
            </ion-col>
          </ion-row>


        </div>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>