<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="serviceSection"></ion-back-button>
      <ion-button *ngIf="!serviceSection" (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Report New Queue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">
  <div class="home" *ngIf="serviceSection">
    <h3>
      Insert some information about the service provided by the queue you would like to add.
    </h3>



    <form #form="ngForm" (ngSubmit)="review(form.value)">
      <span class="line divider one-line">Service Description</span>
      <ion-item lines="full">
        <ion-label position="floating"><b>Name:*</b></ion-label>
        <ion-input type="text" name="name" placeholder="Enter queue name..." [(ngModel)]="request.name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><b>Description:*</b></ion-label>
        <ion-textarea rows="6" cols="20" name="description"
          placeholder="Enter here a short description about the queue..." [(ngModel)]="request.description"></ion-textarea>
      </ion-item>

      <span class="line divider one-line">Type of Service</span>
      <ion-item>
        <ion-label><b>Select type of service*:</b></ion-label>
        <ion-select name="type" placeholder="Select queue's service" [(ngModel)]="request.service" required>
          <ion-select-option *ngFor="let service of services" value="{{service}}">{{service}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" [disabled]="form.invalid" size="medium"
            style="margin-top: 5%;margin-bottom:30px;">Review
          </ion-button>
        </ion-col>
      </ion-row>


    </form>

  </div>
  <div *ngIf="!serviceSection">
    <span class="line divider one-line">Position </span>
    <ion-row>
      <ion-col><b>Building:</b></ion-col>
      <ion-col>{{request.building}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Street:</b></ion-col>
      <ion-col>{{request.street}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Room's Name:</b></ion-col>
      <ion-col>{{request.room}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Room's Number:</b></ion-col>
      <ion-col>{{request.number}}</ion-col>
    </ion-row>
    <span class="line divider one-line">Informations</span>
    <ion-row>
      <ion-col><b>Name:</b></ion-col>
      <ion-col>{{request.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Description:</b></ion-col>
      <ion-col>{{request.description}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Type of Service:</b></ion-col>
      <ion-col>{{request.service}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center>
        <ion-button type="submit" color="success" (click)="insertQueue()" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
      <ion-label>Notify me when the request has been processed</ion-label>
    </ion-item>

  </div>

</ion-content>