.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #000000;
    font-weight: bold;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}