.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #000000;
    font-weight: bold;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}


div.reg{
  margin-top:5vw;
 
  color: #000000;
  font-style: oblique;
  font-size:large;
 
}

div.form{
  border-style: solid;
  border-color:#dcdcdc;
  width: 80%;
  height: 45%;
  padding-left:3px;
  padding-right:3px;
  padding-bottom:5px;
  padding-top: 10px;
  border-radius:20px;
  position: relative;
  left:10%;
  top:2%;
  margin-top: 4%;
 
}

span.form{
    
  font-weight: bold;
  color: #595454;
  font-style: oblique;
  font-size:medium;
 
}

.sizelabel{ font-size: 15px !important; }

.text{ text-align: center !important;}