<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="title">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center><img src="../../assets/lineadupLogo.png" class="login" /></center>
  <div class="ion-text-center">
    <h4 class="reg"> Enter you personal information to start using <b>LinedUp</b></h4>

  </div>
  <div class="login">
    <form #form="ngForm" (ngSubmit)="login(form)">
      <ion-item lines="full">
        
        <ion-input type="email" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" placeholder="E-mail" style="font-style: oblique;" ngModel required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" style="font-style: oblique;" ngModel required>
        </ion-input>
        <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()"></ion-icon>
      </ion-item>

      <ion-row>
        <ion-col>
          <center>
            <ion-button type="submit" color="signin" size="medium" style="margin-top: 9%;margin-bottom:20px;">Sign In
            </ion-button><br>
            <a href="#" class="small-text">Forgot Password?</a>
          </center>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <div class="ion-text-center reg">
    if you are not registered yet, <a href="/register/university" class="small-text">sign up</a>

  </div>
</ion-content>