.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #000000;
    font-weight: bold;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

div.reg{
  margin-top:3vw;
  margin-bottom:3vw;
 
  color: #000000;
  font-style: oblique;
  font-size:medium;
}

div.form{
  border-style: solid;
    border-color:#ffffffff;
    background:inherit;
    width: 80%;
    height: 45%;
    padding:20px;
    padding-top: 56px;
    border-radius:20px;
    position: relative;
    left:10%;
    top:1%;
    margin-top: 1%;
    -webkit-box-shadow: -1px 5px 28px 2px rgba(190,187,191,1);
    -moz-box-shadow: -1px 5px 28px 2px rgba(190,187,191,1);
    box-shadow: -1px 5px 28px 2px rgba(190,187,191,1);
}

span.form{
    
  font-weight: bold;
  color: #595454;
  font-style: oblique;
  font-size:medium;
 
}

.sizelabel{ 

font-size: 15px !important; 
font-style: oblique;

}

.text{ text-align: center !important;}