div.message{

  
  width: 80%;
  height: 30%;
  font-style: oblique;
  font-size:medium;
  position: relative;
  left:10%;
  top:150px;
  margin-top: 4%;

}

div.button{

    position:relative;
    top:290px;

}

ion-item.problem{
  margin-top:50px;
   width: 80%; 
   border-radius: 20px; 
   border:solid;
   font-size:small;
   font-style:oblique;
   position: relative;
   left:10%;
   border-color: #dcdcdc;
   -webkit-box-shadow: -1px 5px 28px 2px rgba(190,187,191,1);
        -moz-box-shadow: -1px 5px 28px 2px rgba(190,187,191,1);
        box-shadow: -1px 5px 28px 2px rgba(190,187,191,1);
}

