<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-label><b>Menu</b></ion-label>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
          <ion-title color="title" style="margin-top: 20px;">
             Favourites
            </ion-title>
          </ion-col>
          <ion-col>
            <center> <img src="../../assets/icon/linedup.png" style="width: 50px;"/></center>
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </ion-toolbar>
  </ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <div class="home">
          <div style="margin-top:60px; margin-bottom:60px;font-style: oblique;">
          <h4 class="home" style="text-align: center;"> Here you can find the list of queues you've added to your personal
            favourites. </h4>
          </div>
          <span class="line divider form one-line">Favourites <ion-icon name="star"></ion-icon></span>

          <ion-item-divider></ion-item-divider>
          <ion-item button #queue (click)="selectQueue(queue)" detail
            *ngFor="let queue of placeList">
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <ion-label style="font-style: oblique; font-size:15px">
                    {{queue.name}}
                  </ion-label>
                </ion-col>
                <ion-col size="4">
                  <ion-label *ngIf="queue.status==1" style="color:rgb( 50,205,50);font-weight: bold;font-size: 15px; font-style: oblique;">
                    Opened
                  </ion-label>

                  <ion-label *ngIf="queue.status==0" style="color: #8b0000;font-weight: bold;font-size:15px; font-style: oblique;">
                    Closed
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="queue.status==1">
                <ion-col size="4">
                  <ion-label>
                    <ion-icon name="people"></ion-icon>
                    {{queue.people}}
                  </ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label>

                    <ion-icon name="time-outline"></ion-icon>
                    {{queue.time}} min
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>