<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="10">

          <ion-searchbar [disabled]="filterSection && filter.type!=null && filter.status!=null"
            (ionChange)="search($event.detail.value)" class="icon">
          </ion-searchbar>

        </ion-col>
        <ion-col>
          <center> <img src="../../assets/icon/linedup.png" /></center>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="position: relative; height: 100%;" *ngIf="queueSearch==null || viewResult"></div>
  <div *ngIf="queueSearch!=null && !viewResult" style="text-align: center;">
    <ion-toolbar>
      <ion-title>
        <h3>Results for "{{queueSearch}}" <h4 *ngIf="filter.type!=null || filter.status!=null">(
            {{filter.status == 1 ? 'Opened' : (filter.status == 0 ? 'Closed' : '')}} {{filter.type}} )</h4>
        </h3>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="filter.type!=null || filter.status!=null" (click)="clearFilter()">
          Clear
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
        <ion-button [disabled]="searchList.length==0 && !filterSection && filter.type==null && filter.status==null"
          (click)="changeFilterSection()">
          Filter By
          <ion-icon *ngIf="!filterSection" slot="end" name="caret-down-outline"></ion-icon>
          <ion-icon *ngIf="filterSection" slot="end" name="caret-up-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div *ngIf="filterSection">
      <ion-row>
        <ion-label><b>Service:</b></ion-label>
      </ion-row>
      <ion-row>
        <ion-radio-group [(ngModel)]="filter.type">
          <ion-col *ngFor="let filter of filters.type">
            <ion-radio value="{{filter.value}}" (click)="selectType(filter.value)"></ion-radio>
            <ion-label>{{filter.name}}</ion-label>
          </ion-col>
        </ion-radio-group>
      </ion-row>
      <ion-row>
        <ion-label><b>Status:</b></ion-label>
      </ion-row>
      <ion-row>
        <ion-radio-group [(ngModel)]="filter.status">
          <ion-col *ngFor="let filter of filters.status">
            <ion-radio value="{{filter.value}}" (click)="selectStatus(filter.value)"></ion-radio>
            <ion-label>{{filter.name}}</ion-label>
          </ion-col>
        </ion-radio-group>
      </ion-row>
    </div>
    <ion-item-divider>
    </ion-item-divider>
    <ion-item button #queue (click)="selectQueue(queue)" [disabled]="filterSection" detail
      *ngFor="let queue of searchList">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>
              {{queue.name}}
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label *ngIf="queue.status==1" style="color: greenyellow;">
              Opened
            </ion-label>

            <ion-label *ngIf="queue.status==0" style="color: red;">
              Closed
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="queue.status==1">
          <ion-col size="4">
            <ion-label>
              <ion-icon name="people"></ion-icon>
              {{queue.people}}
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>

              <ion-icon name="time-outline"></ion-icon>
              {{queue.time}} min
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>