#refreshButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    z-index: 400;
}

#helpButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    z-index: 400;
    font-size: 56px;
}

.home{
    
    color: #000000;
    font-style: oblique;
}

.filter{
    border-style: solid;
    border-color:#dcdcdc;
    margin-right:30px;
    height: 300px;
    width: 100%;
    padding:20px;
    padding-top: 56px;
   
    border-radius:20px;
    
   
}

h4.home{
    
    text-align: center;
    font-style: oblique;
    font-size: medium;
    margin-bottom: 10px;
}
