#refreshButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    z-index: 400;
}

.home{
    
    color: #000000;
    font-style: oblique;
}

.filter{
    border-style: solid;
    border-color:#dcdcdc;
    margin-right:30px;
    height: 300px;
    width: 100%;
    padding:20px;
    padding-top: 56px;
    padding-left: 50%;
    border-radius:20px;
    
   
}