div.request {
    border-style: solid;
    border-color: #dcdcdc;
    width: 90%;
    height: 300px;
    padding: 20px;
    padding-top: 56px;
    border-radius: 20px;
    position: relative;
    left: 5%;
    top: 1%;
    margin-top: 80px;
    font-size: 15vw;
}



.sizelabel {
    font-size: 15px !important;
    font-style: oblique;
}

div.reg{
    margin-top:3vw;
    margin-bottom:3vw;
    color: #000000;
    font-style: oblique;
    font-size:medium;
   
  }
