div.home{
    
    text-align: center;
    font-style: oblique;
    
    margin-bottom: 20px;
    margin-top: 80px;
}


h4.home{
    
    text-align: center;
    font-style: oblique;
    font-size: medium;
    margin-bottom: 10px;
}