div.info {
    background: inherit;
    width: 80%;
    height: 45%;
    padding: 20px;
    padding-top: 20px;
    border-radius: 20px;
    position: relative;
    left: 10%;
    top: 1%;
    margin-top: 1%;
}

div.home {
    text-align: center;
    font-style: oblique;
    margin-bottom: 10px;
    margin-top: 60px;
}

h4.home {
    text-align: center;
    font-style: oblique;
    font-size: medium;
    margin-bottom: 10px;
}

.sizelabel {
    font-size: medium !important;
    font-style: oblique;
}

.text {
    text-align: center !important;
}
